.pricing-cost {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.overlap-group-container-4 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 289px;
  margin-left: 121.0px;
  margin-top: 27px;
  min-width: 1133px;
}

.overlap-group-4 {
  background-color: var(--biscay);
  border-radius: 15px;
  height: 550px;
  position: relative;
  width: 421px;
}

.p5 {
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35px;
  width: 357px;
}

.runningdog {
  cursor: pointer;
  height: 206px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 322px;
  transition: all 0.2s ease;
  width: 355px;
}

.runningdog:hover,
.alsation:hover {
  transform: scale(0.9); 
}

.p6 {
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22px;
  width: 373px;
}

.alsation {
  cursor: pointer;
  height: 125px;
  left: 26px;
  object-fit: cover;
  position: absolute;
  top: 403px;
  transition: all 0.2s ease;
  width: 375px;
}

